name: Sdk - Feature

on:
  push:
    branches-ignore:
      - main

env:
  DOTNET_VERSION: '8.0.x'           # set this to the dotnet version to use
  SDK_VERSION: '1.0.0'
  BUILD_NUMBER: ${{github.run_number}}
  BETA: '-beta'

# --- Secrets for the GitHub Action ---
# ACTION_PACKAGE_API_KEY - this key for Nuget Deployment
# _______________________________________________________

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - name: Crete Build number
      id: build
      run: |
          echo "VERSION_NUMBER_WITH_OFFSET=$SDK_VERSION$BETA.$(($BUILD_NUMBER))" >> "$GITHUB_ENV"

    - uses: actions/checkout@v5
    
    - name: Setup .NET Core ${{ env.DOTNET_VERSION }}
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Build with dotnet
      run: dotnet build ./V5id.Public.Sdk.sln --configuration Release
      
    - name: Test with dotnet
      run: dotnet test ./V5id.Public.Sdk.sln --configuration Release  --no-build
      
    - name: Build nuget packages
      run: |
        dotnet pack ./Public.Sdk/Public.Sdk.csproj -p:PackageVersion=${{ env.VERSION_NUMBER_WITH_OFFSET }} --no-build --configuration Release --output "./nuget/V5id.Public.Sdk"


    - name: Publish NuGet Files
      run: |
          dotnet nuget push "./nuget/V5id.Public.Sdk/*.nupkg" --source "nuget.org" --api-key ${{ secrets.ACTION_PACKAGE_API_KEY }}